*{
    margin: 0px;
    padding :0px;
    box-sizing: border-box;
font-family:'Krub';
text-decoration: none;
color: black;
}

header{
    position: sticky;    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
}

nav{    
    width: 45%;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    
}

.logo{
    margin-left: 30px;
    margin-top: 20px;
}

nav a:hover{
    background:rgba(221, 255, 188, 1);
    transition: all 0.3s ease;
    border-radius: 90px;
    justify-content: center;
    /* width: 90px; */

}


/* MAIN PAGE ACCUEIL */

.entete{
    font-style: italic;
    font-weight: 200;
}

h1{
    font-style: italic;
font-weight: 300;
font-size: 40px;
}

.B1, .page3, .informer, .focus{
    display: flex;
    justify-content: space-between;
    padding: 2em;

}
p{
    gap: 50px;
}


.D1, .infos, .verte{
    width: 40%;
    text-align: justify;
    margin-right: 30px;
}


/* PAGE 2 ORIGINES */


.D2{
    margin-top: 50px;
    height: 100vh;
    height: 768px;
    background: url(visuels/FOND_page2.png) no-repeat center / cover;
    display: flex;
}


.box3{
    margin: 30px 10px 30px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    text-align: justify;
    gap: 40px;
}



.blanc{
    position: absolute;
    width: 549px;
    height: 101px;
    left: 240px;
    top: 240px;


font-weight: 400;
font-size: 18px;
line-height: 23px;
text-align: justify;

color: #FEFFDE;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25) ;

}


.D2 h2{

    font-size: 30px;
line-height: 39px;
color: #FEFFDE;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-bottom: 30px ;
}



.para{
width: 369px;
height: 329px;
left: 40px;
top: 372px;
width: 33%;

}


.box .para .pic{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.D2 .p{
    display: flex;
}


/* FOOTER */

footer{
    margin: 30px 10px 30px ;
    display: flex;    
    justify-content: space-between;
    /* height: 50px;
    color: rgba(145, 199, 136, 1)    ; */
}

.rs, .top{
    margin: 30px 25px 30px;
}




/* footer a:hover{
    background:rgb(221, 255, 188);
    transition: all 0.3s ease;
    border-radius: 80px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 80px;
} */


/* PAGE 3  CAS PRATIQUES */

.page3{
    display: flex; 
   
}

.coca, .mcd, .danone{
    width: 369px;
    height: 329px;
    left: 40px;
    top: 372px;
    bottom: 200px;}

#txt{
    text-align: justify;
    width: 370px;
}

.pic{
    margin-bottom: 2em;
}

/* PAGE 4 _ S'INFORMER*/

.informer{
    margin bottom: 2em;
}
/* s'INFORMER SUITE */

#italic{
    font-style: italic;
font-weight: 300;
font-size: 18px;
}

#full{
    height: 706px;
    background: url(visuels/carbonne_.png) no-repeat center / cover;

}
.carb{
    width: 554px;
height: 345px;
left: 25px;
padding-top: 200px;
margin-left: 35px;
}
    

/* page 5 FOCUS ILLUSION VERTE */

span{
    font-style: italic;
}

.note{
    margin-top: 4px;
}


.foo3{
    margin-top: 370px;

}

nav{
    font-weight: 400;
}